$car-color-preloader: white;
$background-color-preloader: black;
$font-size-header: 16px;
$spin-deg: 36deg;

$background-color: #FFFFFF;
$mainTextColor: #13160E;
$accentColor: #18D988;

$mainFontFamily: 'Open Sans', sans-serif;
$accentFontFamily: "Ampero";

$shadow: 0px 0px 15px $accentColor;

$textFontSize: 18px;
$fontSizeAccent: 22px;
$fontSizeHead: 76px;
$mediaFontSize: 16px;