.success-container {
    padding-top: 30px;
    max-width: 835px;
    margin: 0 auto;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 600px;

};

h2 {
    font-family: $accentFontFamily;
    font-weight: 700;
    font-size: 36px;
}

.lng-thank-text {
    font-size: $fontSizeAccent;
    font-family: $accentFontFamily;
    font-weight: 200;
}

.img-car {
    width: 60%;
}